.skeleton {
    background-color: #f0f0f0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background: linear-gradient(90deg,
                transparent,
                rgba(255, 255, 255, 0.4),
                transparent);
        animation: shimmer 1.5s infinite;
    }

    &.circle {
        border-radius: 50%;
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}