// Product Card Styles
.product {
    background: #fff;
    padding-bottom: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-media {
    margin-bottom: 0;

    .product-image {
        border-radius: 12px 12px 0 0;
    }
}

.product-body {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    background-color: transparent;
    z-index: 10;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease;

    .btn-primary {
        border-radius: 0;
        padding: 1.2rem;

        &:hover {
            background-color: #015959 !important;
            border-color: #015959 !important;
        }
    }
}

.product:hover .product-action {
    opacity: 1;
    transform: translateY(0);
}

.old-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
}