.product-price-antes{
    font-size: 1.4rem;
    color: #464646;
    margin-top: 10px;
    
    .product-price-antesSpan {
        text-decoration: line-through;
    }

}
.label-discount {
    background-color: #ef837b;
    color: #fff;
    padding: 5px 10px;
}