<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <!--<div class="checkout-discount">
                    <form action="#">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
                    </form>
                </div>--><!-- End .checkout-discount -->
                <form [formGroup]="checkoutForm" (ngSubmit)="submitOrder()">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Informacion de pago</h2><!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Nombre *</label>
                                    <input type="text" class="form-control" formControlName="firstName" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Apellidos *</label>
                                    <input type="text" class="form-control" formControlName="lastName" required>
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-6">
                                    <label>Tipo de Documento *</label>
                                    <select name="doctype" id="doctype" formControlName="doctype" class="form-control"
                                        required>
                                        <option value="cc">CC</option>
                                        <option value="cc">NIT</option>
                                    </select>
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-6">
                                    <label>Documento de Identidad *</label>
                                    <input type="text" class="form-control" formControlName="document" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Telefono *</label>
                                    <input type="tel" class="form-control" formControlName="phone" required>
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-6">
                                    <label>Correo electronico *</label>
                                    <input type="email" formControlName="email" class="form-control" required>
                                </div>
                            </div><!-- End .row -->

                            <label>Direccion *</label>
                            <input type="text" formControlName="address1" class="form-control"
                                placeholder="Calle 1#2-3 barrio pepito" required>
                            <input type="text" formControlName="address2" class="form-control"
                                placeholder="Apartamento, Casa, Unidad etc ..." required>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="department">Departamento</label>
                                    <select id="department" class="form-control" formControlName="department"
                                        (change)="onDepartmentChange($event)">
                                        <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.name }}
                                        </option>
                                    </select>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label for="city">Ciudad</label>
                                    <select id="city" class="form-control" formControlName="city"
                                        (change)="onCityChange($event)">
                                        <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                                    </select>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <label>Notas (opcional)</label>
                            <textarea class="form-control" formControlName="notes" cols="30" rows="4"
                                placeholder="Notas sobre tu orden, e.g. casa 1 piso 13"></textarea>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Tu compra</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let item of cartItems">
                                            <td>{{ item.name }} x {{ item.quantity }}</td>

                                            <td>{{ item.price * item.quantity | currency }}</td>
                                        </tr>

                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>{{ subtotal | currency }}</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Envio:</td>
                                            <td>{{shippingCost | currency}}</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>{{ total | currency }}</td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                
                                    <div class="accordion-summary" id="accordion-payment">
  <div class="card" *ngFor="let pmg of paymentMethods">
    <div class="card-header" id="heading-{{pmg.id}}">
      <h2 class="card-title">
        <label class="d-flex align-items-center w-100">
          <input class="d-none"
  type="radio"
  [value]="pmg.id"
  formControlName="payment_method"
  name="payment_method"
/>
          <a
            (click)="selectPaymentMethod(pmg)"
            class="collapsed w-100"
            role="button"
            data-toggle="collapse"
            [attr.href]="'#collapse-' + pmg.id"
            aria-expanded="false"
            [attr.aria-controls]="'collapse-' + pmg.id"
          >
            <span class="d-block">{{ pmg.name }}</span>
            <img
              *ngIf="pmg.url"
              [src]="pmg.url"
              alt="{{ pmg.name }}"
              class="payment-logo ml-2"
            />
          </a>
        </label>
      </h2>
    </div>

    <div
      [id]="'collapse-' + pmg.id"
      class="collapse"
      [attr.aria-labelledby]="'heading-' + pmg.id"
      data-parent="#accordion-payment"
    >
      <div class="card-body">
        {{ pmg.alt }}
      </div>
    </div>
  </div>
</div>

                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Pagar</span>
                                    <span class="btn-hover-text">Finalizar Compra</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->